<h2> Hello, {{user.username}} </h2>
<br>
<h2> View Your Order History </h2>
<hr>
<table class="table">
  <thead>
    <tr>
     
      <th scope="col">Food</th>
      <th scope="col">Ordered At</th>
      <th scope="col">Quantity</th>
      <th scope="col">Extra Info</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	{% for detail in order_details%}
  	 <tr>

      <td>{{detail.food}}</td>
      <td>{{detail.order.ordered_at}}</td>
      <td>{{detail.quantity}}</td>
      <td>{{detail.extra_info}}</td>
      <td>{{detail.status}}</td>
    
    </tr>
	{% endfor %}
  </tbody>
</table>
