.res-head
{
    background-image: url('/static/img/res-head.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    align-content: center;
    vertical-align: middle;
    display: grid;
    float: unset;
    margin-bottom: 5rem;
    text-align:center;
}
.res-head-row::before
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
}
.res-head > div > div
{
    margin: auto;
    float: unset;
}
.res-head h1
{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}
.search-bar input[type=text]
{
    width: 45%;
    border: unset;
    padding: 10px 10px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffffc7;
    transition: all 0.4s;
}
.search-bar input[type=text]:focus
{
    outline: none;
    background-color: white !important;
}
.search-bar button
{
    background-color: #FF5722;
    border: unset;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: all 0.4s;
}
.search-bar button:hover
{
    background-color: rgba(255, 86, 34, 0.788);
}
.resList-wrapper
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.resList-card
{
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    overflow: hidden;
}
.restaurant-details h3
{
    margin-top: 13px;
}
.fa-phone
{
    transform: rotate(0deg);
}
.res-image
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.res-image1
{
    background-image: url('../img/pepe.jpg');
}
.res-image2
{
    background-image: url('../img/firenice.jpg')
}
.res-image3
{
    background-image: url('../img/roadhouse.jpg')
}


.checkbox input[type="checkbox"]:focus + label::before,
.radio input[type="radio"]:focus + label::before {
    outline: 0px !important;
    -webkit-appearance:none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}