
        .user-profile .btn {
            color: #cecece;
            background-color: transparent;
            border-color: transparent;
            font-size: 24px;
        }

        .user-profile .btn:hover,
        .btn:focus {
            color: #8a8a8a;
        }


        nav>div>div>div>.dropdown-menu:before {
            content: "";
            position: absolute;
            right: 11px;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent white transparent;
            z-index: 9999;
        }

        nav>div>div>div>.dropdown-menu:after {
            content: "";
            position: absolute;
            right: 10px;
            top: -12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 11px 11px 11px;
            border-color: transparent transparent #cecece transparent;
            z-index: 9998;
        }

        .dropdown-menu {
            border: 1px solid #cecece;
            border-radius: unset;
            padding: 10px;
            min-width: 320px;
        }

        .dropdown-menu>p {
            font-size: 16px;
            font-weight: bold;
        }

        .dropdown-menu>hr {
            position: relative;
            top: 0px !important;
            bottom: 0px !important;

        }

        .profile-img {
            margin: 10px auto;
        }

        .profile-info {
            text-align: center;
        }

        .misc>ul {
            list-style: none;
            padding: 0;
            line-height: 2.5;
        }
        .misc>ul>li>i
        {
            font-size: 20px;
            margin-right: 5px;
        }
        .logout {
            text-align: center;
        }
        a:hover
        {
            text-decoration: none;
        }
        .empty
        {
            background-color: #f1f1f1;
            padding: 68px 0;
        }
        .empty > p
        {
            text-align: center;
            color: #969696;
        }
        .empty > img
        {
            margin: auto;
            width: 100px;
        }
        .profile-img > img
        {
            max-width: 75%;
            margin: auto;
        }
        .profile-img
        {
            margin: 10px auto;
            display: table;
            border-radius: 50%;
            border: 1px solid #cecece;
            overflow: hidden;
            background-color: #f1f1f1;
            box-shadow: 0 2px 5px 0px #cecece;
        }
        a{
            color: #03a9f4;
        }
        a:hover
        {
            color: #03a9f4;
        }
        .logout > a
        {
            color: #F44336;
        }
        .logout > a:hover
        {
            color: #F44336 !important;
        }
        .cl-effect-3 .logout > a::after
        {
            background: #f4433659;
        }