
        *
        {
            font-family: 'Roboto', sans-serif;
        }
        body {
            margin: 0;
            padding: 0;
            background-image: url('/static/img/body-bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: -webkit-fill-available;
        }

        .login-form {
            background-color: white;
            padding: 5rem;
            margin: 13rem auto;
            float: unset;
            border-radius: 4px;
        }
        h2
        {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        .login-btn
        {
            width: 100%;
            font-size: 16px;
            background-color: darkcyan;
            border-color: darkcyan;
            text-align: center;
            color: white;
            padding: 2rem;
        }
        .login-btn:hover
        {
            text-decoration: none;
        }
        .create
        {
            margin-top: 15px;
            margin-bottom: 0;
        }
        .hvr-bounce-to-right:before
        {
            background: #4CAF50;
        }
        a
        {
            color: #10ac84;
        }
        .login-form input
        {
            border: unset;
            border-radius: unset;
            box-shadow: unset;
            border-bottom: 1px solid #ccc;
            padding: 6px 0;
        }
        .login-form input:focus
        {
            box-shadow: unset;
        }

        .messages{
            list-style: none;
            background-color: #BE3507;
            color: white;
            text-align: center;
            padding: 5px;
        }
