
.res-img-row
{
    background-size: cover;
    background-position: center;
    height: auto;
}
.shop-desc
{
    padding-top: 18rem;
    padding-bottom: 2rem;
    color: white;
    position:relative;
}
.shop-desc a
{
    color: white;
    margin: 0 10px;
}
.shop-desc a:hover
{
    text-decoration: none;
}
.fb:hover
{
    color: #3b5998;
}
.twitter:hover
{
    color: #1da1f2;
}
.insta:hover
{
    color: #c32aa3;
}
.yt:hover
{
    color: #ff0000;
}
.res-table
{
    width: 30%;
    margin: 10px 0;
}
thead td
{
    font-weight: bold;
}
.res-table td
{
    text-transform: uppercase;
}
.tabs-style-line nav a
{
    text-decoration: none;
}
.res-tab
{
    margin: 20px 0;
}
.content-wrap b
{
    border-bottom: 4px solid #2196F3;
}
.cat-table
{
    width: 100%;
    margin: 2em 0;
}
.cat-table td
{
    text-align: center;
    padding: 2rem 0;
    transition: all 0.5s;
}
.cat-table a:hover
{
    color: #00b07c;
}
.cat-table td:hover
{
    box-shadow: 0px 5px 13px 1px #d2d2d2;
}
a:hover
{
    text-decoration: none;
}
.about-res a
{
    font-size: 20px !important;
    color: white;
}
.tab-current a
{
    font-size: 20px !important;
}
.gmap_canvas
{
    overflow: hidden;
    background: none!important;
    height: auto;
    width: 100%;
}
.res-info
{
    text-align: center;
}
.res-map
{
    padding: 2em 0;
}
.res-contact
{
    padding: 2em 1.5em;
}
.res-contact table
{
    width: 100%;
}
.social
{
    text-align: right;
    margin-top: 8em;
}
.fa-phone
{
    transform: rotateY(180deg);
}
.social a
{
    font-size: 24px;
}
.fb-color
{
    color: #3b5998;
}
.twitter-color
{
    color: #1da1f2;
}
.insta-color
{
    color: #c32aa3;
}
.yt-color
{
    color: #ff0000;
}
.category
{
    max-height: 400px;
    overflow: auto;
}
.cat-nav
{
    background-color: unset;
    border: unset;
}
.cat-list a
{
    box-shadow: unset !important;
}
.cat-list li
{
    width: 100%;
    box-shadow: unset !important;
    border: unset;
    background-color: unset;
}
.cat-list
{
    display: block !important;
    width: 100%;
    padding: 0 !important;
    box-shadow: unset !important;
    border: unset;
    background-color: unset;
}
.cat-scrollspy, .cat-container
{
    padding: 0;
    border: unset;
    background-color: unset;
}
.cat-list .active>a
{
    background-color: unset !important;
    color: unset !important;
}
.cat-list li a:hover
{
    border-left: 3px solid #2196f3;
}
.menu-list:hover
{
    background: #cecece !important;
    cursor: pointer;
}
.menu-list td, .menu-table td
{
    padding: 10px;
}
.menu-table thead
{
    background: #009688;
    color: white;
}
::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: #f1f1f1;
    border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #888;
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}

.res-img-row::before
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
}
