
*
{
    font-family: 'Source Sans Pro', sans-serif;
}
.info-nav
{
    background-color: white;
    border: unset;
    border-radius: unset;
    box-shadow: 0 1px 1px 0px #d0d0d0;
    margin-bottom: 0;
}
.search
{
    margin: auto;
    float: unset;
}
.search > form
{
    width: 100%;
}
.search > form > div
{
    width: 92%;
}
.search-field
{
    border: unset;
    box-shadow: unset;
    border-bottom: 1px solid #cecece;
    border-radius: unset;
    width: 100% !important;
}
.search-field:focus
{
    box-shadow: unset;
}
.search-btn
{
    background-color: unset;
    border: unset;
    border-radius: unset;
}
.search-btn:hover
{
    color: white;
    background-color: #2196F3;
    border-color: #2196F3;
}
.search-btn:focus
{
    color: white;
    background-color: #2196F3;
    border-color: #2196F3;
}
.img-slider
{
    height: auto;
    overflow: hidden;
}
.item img
{
    width: 100%;
}
.restaurant
{
    box-shadow: 0 2px 5px 0px #a0a0a0;
    overflow: hidden;
}

.front-restaurant-img img{
    max-height: 246px !important;
}

.res-desc
{
    padding: 20px 30px;
}

.food-icon > img
{
    margin: auto;
    display: block;
}
.desc
{
    text-align: center;
}
.parallax
{
    margin: 80px 0;
}
.img-parallax
{
    background-image: url('/static/img/food--1200x600.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.img-parallax p
{
    text-align: center;
    color: white;
}
.img-parallax > div
{
    margin: 56px auto;
    float: unset;
    font-size: 16px;
}
.footer
{
    margin-top: 80px;
    border-top: 2px solid #cecece;
    background-color: #f1f1f1;
    padding-bottom: 15px;
}
.footer a, .footer p
{
    color: #7d7d7d;
}
.quick-link
{
    padding-left: 3px;
    list-style: none;
}
.feedback h2
{
    text-align: center;
}
.feedback-form
{
    margin: 20px auto;
    float: unset;
}
.text-field
{
    border: unset;
    box-shadow: unset;
    border-bottom: 1px solid #cecece;
    border-radius: unset;
}
.text-field:focus
{
    box-shadow: unset;
}
.feedback-btn
{
    width: 100%;
    padding: 16px 12px;
}
.cart h1
{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5em;
}
.cart table
{
    width: 100%;
}
.cart td
{
    padding: 10px 0;
}
.cart-quantity{
    width: 60px;

}
.product-table img
{
    width: 80%;
}
.product-table thead
{
    border-bottom: 1px solid #cecece;
}
.add-product
{
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    color: #4cae4c;
    border-radius: unset;
}
#sidebar
{
    width: 70%;
    float: right;
    border: 5px solid #b5b5b5;
    padding: 20px;
}
#sidebar hr
{
    margin: 10px 0;
}
.summary-list
{
    list-style: none;
    padding-left: 0;
}
.summary-list li
{
    display: flex;
}
.price
{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.delete-btn
{
    border-radius: unset;
}
.chout-btn
{
    width: 100%;
    border-radius: unset;
    margin: 20px 0;
    background-color: #2196F3;
    border-color: #2196F3;
    font-size: 20px;
    padding: 10px 12px;
}
.badge-notify
{
    background: #4CD964;
    position: absolute;
    top: 5px;
    left: 22px;
}
.bag > a
{
    display: inline-flex !important;
    font-size: 15px;
}
.bag > a > p
{
    padding-left: 15px;
    margin: 0;
    font-weight: bold;
}
.item
{
    height: 60vh;
}

.messages{
    z-index: 9999;
    list-style: none;
    text-align: center;
    color: white;
    background-color: orange;
    padding: 5px;
}

.food-icon img{
            max-height: 105px !important;
            padding-bottom: 3px !important;
        }

}

