          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add To Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form method="GET" action="{% url 'addcart' %}">
                  <div class="modal-body">
                    <h3>Name : {{food.name}}</h3>
                    <p>
                        <strong>Price : NRs. {{food.price}}</strong>
                    </p>

                    <hr class="custom-hr" />
                    <p>
                        <strong>Description:</strong>
                        <em>{{food.description}}</em>
                    </p>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input name="quantity" type="number" min="1" value="1" class="form-control form-size" placeholder="Quantity" required>
                        <input type="hidden" value="{{food.id}}" name="id">
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <input class="form-control" type="text" name="extra_info" id="message-text">
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success mybutton" value="Add">
                  </div>
                </form>
            </div>
          </div>
        </div>
