{% extends 'layout.html' %}

{% block title %}
Category | {{category.name}}
{% endblock %}

{% block content %}
{% load static %}

<div class="rest-banner">
    <div style="text-align: center;" class="container">
        <h1>{{category.name}}</h1>
        <em>"{{category.description}}"</em>
    </div>
</div>

<div class="container" style="padding-top: 65px;">
    <div class="row ">
        {% for food in foods %}
        <div class = "col-md-4" >
            <a href="/food/{{food.id}}"/>
                <img src="/media/{{food.image}}" class="restaurant-image" alt="food-image" style="width:300px;">
            </a>
            <div class="restaurant-details">
                <h5><strong>Name : </strong>
                    {{food.name}}
                </h5>
                <p><strong>Price : </strong>
                    {{food.price}}
                </p>
                <p><strong>Restaurant :</strong>
                    {{food.restaurant.name}}
                </p>

            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}