{% extends 'layout.html' %}
{% load static %}
{% block title %}
Food | {{food.name}}
{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/food-style.css' %}">
<script>

</script>

{% endblock %}

{% block extracdn %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
{% endblock %}


{% block content %}


<body>
    <div style="background: #ddd !important; height: 45px;"> </div>
    <div class="container" style="padding-top: 25px; ">

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4">
                <img src="/media/{{food.image}}" class="restaurant-image" alt="food-image" style="width:300px;">
            </div>
            <div class="col-md-4" style="margin-left: -65px;">
                <h3>Name : {{food.name}}</h3>
                <p>
                    <strong>Price : NRs. {{food.price}}</strong>
                </p>

                <hr class="custom-hr" />
                <p>
                    <strong>Description:</strong>
                    <em>{{food.description}}</em>
                </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@getbootstrap">Add Cart</button>

            </div>
            <div class="col-md-4"></div>
        </div>
        {% include 'food/add-cart-modal.html' %}

        <div class="detailBox">
            <div class="titleBox">
                <label>Comment Box</label>
            </div>
            <div class="commentBox">

                <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="actionBox">
                <ul class="commentList">
                    {% for comment in comments %}
                    <li>
                        <div class="commenterImage">
                            <img src="http://placekitten.com/50/50" />
                        </div>
                        <div class="commentText">
                            <p class="">{{ comment.comment }}</p>
                            <span class="date sub-text">{{ comment.date }}</span>

                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <form class="form-inline" role="form" method="post" action = "/comment/add/">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name = 'comment' class="form-control" type="text" placeholder="Your comments" />
                    </div>
                    <input type = "hidden" name = "food" value="{{ food.id }}">
                    <div class="form-group">
                        <button type = "submit" name = "submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}