
<form method='POST' action="/my/restaurant/address/edit/{{restaurant.address.id}}/">{% csrf_token %}
    <hr>
    <h3> Your Address Information</h3>
    <hr>
    <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" name="country" value="{{restaurant.address.country}}">
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" value="{{restaurant.address.city}}">
    </div>
    <div class="form-group">
        <label>Address1</label>
        <input type="text" class="form-control" name="address1" value="{{restaurant.address.address1}}">
    </div>
    <div class="form-group">
        <label>Address2</label>
        <input type="text" class="form-control" name="address2" value="{{restaurant.address.address2}}">
    </div>
    <div class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" name="zip_code" value="{{restaurant.address.zip_code}}">
    </div>

    <div class="form-group">
        <button class='btn btn-primary' type='submit'>Edit</button>
    </div>
</form>