<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% block favicon %}

    {% endblock %}

    {% block cdn %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}

    {% block styles %}

    {% endblock %}

    {% block extracdn %}

    {% endblock %}

    {% block extrastyles %}
    {% endblock %}

</head>

<body>
{% block layout %}
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block extrascripts %}
{% endblock %}
<script>

</script>
</body>
</html>
