<h2>About Restaurant</h2>
<hr>
<form method='POST' enctype="multipart/form-data" action="/my/restaurant/detail/edit/{{restaurant_detail.id}}/">
    {% csrf_token %}
    <div class="form-group">
        <label>Facebook URL</label>
        <input type="text" class="form-control" name="facebook_url" value="{{restaurant_detail.facebook_url}}">
    </div>
    <div class="form-group">
        <label>Instagram URL</label>
        <input type="text" class="form-control" name="instagram_url" value="{{restaurant_detail.instagram_url}}">
    </div>
    <div class="form-group">
        <label>Twitter URL</label>
        <input type="text" class="form-control" name="twitter_url" value="{{restaurant_detail.twitter_url}}">
    </div>
    <div class="form-group">
        <label>Youtube URL</label>
        <input type="text" class="form-control" name="youtube_url" value="{{restaurant_detail.youtube_url}}">
    </div>
    <div class="form-group">
        <label>Google Map URL</label>
        <input type="text" class="form-control" name="google_map_url" value="{{restaurant_detail.google_map_url}}">
    </div>
    <div class="form-group">
        <label>Opening Time</label>
        <input type="time" class="form-control" name="opening_time" value="{{restaurant_detail.opening_time}}">
    </div>
    <div class="form-group">
        <label>Closing Time</label>
        <input type="time" class="form-control" name="closing_time" value="{{restaurant_detail.closing_time}}">
    </div>
    <div class="form-group">
        <label>Minimum Order in Rs.</label>
        <input type="number" class="form-control" name="minimum_order" value="{{restaurant_detail.minimum_order}}">
    </div>

    <div class="form-group">
        <button class='btn btn-primary' type='submit'>submit</button>
    </div>
</form>