{% extends 'restaurant-owner/layout.html' %}

{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/dashboard/restaurant-dashboard.css' %}">
{% endblock %}
{% block extrascripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" ></script>
<script type="text/javascript">
       $(document).ready(function() {
            $('#dashboard-table').DataTable();
        } );
</script>
{% endblock %}

{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-orange">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <p>Total Order</p>
                        <h2>
                            {{ orders.count }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-blue">
                            <i class="fas fa-spinner"></i>
                        </div>
                        <p>On Process</p>
                        <h2>
                            {{ order_on_process }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-red">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p>Delivered</p>
                        <h2>
                            {{ order_delivered }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
     {% if orders %}
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-responsive card-item" id = "dashboard-table">
                    <thead>
                        <tr>
                            <th>Food</th>
                            <th>Quantity</th>
                            <th>Ordered Date</th>
                            <th>Delivery Date</th>
                            <th>Status</th>
                            <th>Extra Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>

                            <td>
                               <a href="{{order.food.get_absolute_url}}" style="color:orange;">
                                   <b><u>{{ order.food.name }}</u></b>
                               </a>
                            </td>

                            <td>{{order.quantity}}</td>

                            <td>{{ order.order.ordered_at }}</td>
                            <td>{{ order.order.delivery_at }}</td>

                            <td>
                                <form method="POST" action="/my/restaurant/{{order.id}}/">{% csrf_token %}

                                    <div class="col-lg-12 selection">

                                    <ul class="radio-btn">
                                     {% for status in order.status_verbose %}
                                    {% if order.status == status %}
                                    <li>
                                        <input type="radio" id="{{order.status}}" name="status" value="{{ status }}" checked>
                                        <label for="{{order.status}}">
                                        {{ order.status }}
                                        </label>
                                         <div class="check"></div>
                                    </li>
                                    {% else %}
                                        <li>
                                        <input type="radio" id="{{status}}" name="status" value="{{ status }}">
                                        <label for="{{status}}">{{ status }}</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                    {% endif %}
                        {% endfor %}
                        </ul>
                        <button type="submit" class="btn btn-primary" style="margin-left: 2rem; margin-top: 5px;">
                            Update
                        </button>
                    </div>
                    </form>
                            </td>
                            <td>{{order.extra_info}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% else %}
        <strong>There are no orders!</strong>
    {% endif %}
{% endblock %}