<h2> Hello, {{user.username}} </h2>
<hr>
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{restaurant.name}}">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" value="{{restaurant.description}}">
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone" value="{{restaurant.phone}}">
    </div>
    <div class="form-group">
        <label>Website</label>
        <input type="text" class="form-control" name="website" value="{{restaurant.website}}">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{restaurant.email}}">
    </div>
    <div class="form-group">
        <label>Image</label>
        <img src="/media/{{restaurant.image}}" alt="Food Image" class="img-responsive">
        <input type="file" class="form-control" name="image" value="{{restaurant.image}}">
    </div>
    <div class="form-group">
        <label>Cover Image</label>
        <img src="/media/{{restaurant.cover_image}}" class="img-responsive" alt="Food Image">
        <input type="file" class="form-control" name="cover_image" value="{{restaurant.cover_image}}">
    </div>
    <div class="form-group">
        <button class='btn btn-primary' type='submit'>Edit</button>
    </div>
</form>