{% extends 'dashboard/layout.html' %}

{% block content %}

<div class="container">
	<div class="row"> 
		<div class="col-md-4"></div>
		<div class="col-md-4 ">

		<form method='POST' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label>Name</label>
				{{form.name}}
			</div>
			<div class="form-group">
				<label>Description</label>
				{{form.description}}
			</div>
			<div class="form-group">
				<label>Price</label>
				{{form.price}}
			</div>
			<div class="form-group">
				<label>Is Active</label>
				{{form.is_active}}
			</div>
			<div class="form-group">
				<label>Is Bestseller</label>
				{{form.is_bestseller}}
			</div>
			<div class="form-group">
				<label>Is Featured</label>
				{{form.is_featured}}
			</div>
			<div class="form-group">
				<label>Meta Keyword</label>
				{{form.meta_keywords}}
			</div>
			<div class="form-group">
				<label>Meta Description</label>
				{{form.meta_description}}
			</div>
			<div class="form-group">
				<label>Restaurant</label>
				{{form.restaurant}}
			</div>
			<div class="form-group">
				<label>Category</label>
				{{form.category}}
			</div>

			<div class="form-group">
				<label>Image</label>
				{{form.image}}
			</div>
			<div class="form-group">
				<button class='btn-primary' type='submit'>submit</button>
			</div>
		</form>
			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>


{% endblock %}