{% extends 'dashboard/layout.html' %}

{% block content %}
<div class="container">
    <a href="/dashboard/add/food" class="btn btn-primary">Add Food</a>
    <h4> <p>All Foods </p></h4>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Is Active</th>
        <th>Is Featured</th>
        <th>Is Bestseller</th>
        <th>Category </th>
        <th>Restaurant </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for food in foods %}
      <tr>
        <td><p>{{food.name}}</p></td>
        <td><p>{{food.description}}</p></td>
        <td> 
          <p>{{food.price}}</p>
        </td>
        <td> 
          <p>{{food.is_active}}</p>
        </td>
        <td> 
          <p>{{food.is_featured}}</p>
        </td>
        <td> 
          <p>{{food.is_bestseller}}</p>
        </td>
        <td> 
          <p>
            {% for foo in food.category.all %}
              {{ foo.name }}
            {% endfor %}
          </p>
        </td>
        <td> 
          <p>{{food.restaurant.name}}</p>
        </td>
        <td><a href="/dashboard/edit/food/{{food.id}}">Edit</a> &nbsp;&nbsp;
        <a href="/dashboard/del/food/{{food.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
