<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <title>
        {% block title %}
          TBuzz
        {% endblock %}
    </title>

    {% block favicon %}
        <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    {% endblock %}

    {% block cdn %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    {% endblock %}

    {% block extracdn %}

    {% endblock %}

    {% block extrastyles %}
    {% endblock %}

</head>

<body>
{% block layout %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/cbpFWTabs.js' %}"></script>
{% endblock %}

{% block extrascripts %}
{% endblock %}

</body>
</html>
