{% load static %}
    <div class="col-lg-12 footer">
        <div class="row">
            <div class="container">
                <div class="col-lg-4">
                    <h2>Quick Links</h2>
                    <ul class="quick-link">
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="\register\restaurant\">Register Restaurant</a> 
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h2>About</h2>
                </div>
                <div class="col-lg-4">
                    <h2>Contact</h2>
                    <p>Kathmandu, Nepal</p>
                    <p>9854521</p>
                </div>
            </div>
        </div>
    </div>
