{% load carton_tags %}
{% get_cart as cart %}
{% load auth_extras %}
{% load static %}
<!---------------------- Session Message for different purpose ---------------------->

{% if messages %}
    <ul class="messages col-md-12">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!---------------------- End of Session Message ---------------------->

<!----------------------start of navbar html ---------------------->

<nav class="navbar navbar-default navbar-sticky info-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TBuzz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/restaurants">Restaurant</a>
                    </li>
                </ul>
                <div class="col-lg-6 search">
                    <form class="navbar-form navbar-left" method="GET" action="/mysearch/">
                        <div class="form-group">
                            <input type="text" class="form-control search-field" placeholder="Search" name="q">
                        </div>
                        <button type="submit" class="btn btn-default search-btn">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                    <li class="user-profile">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fas fa-user-circle"></i> &nbsp &nbsp &nbsp|
                    </button>
                    <div class="dropdown-menu">
                            <p>My Profile</p>



                        <div class="profile-info">
                            <div class="profile-img">
                                    <img src="{% static 'img/king.png' %}" class="img-responsive" alt="User profile" width="100">

                            </div>
                            <p><b>{{user.username}}</b></p>
                            <a href="/profile" class="effect-1">My Profile</a>
                        </div>
                        <hr>
                        <div class="misc">
                            <ul>
                                <li>
                                    <i class="fas fa-shopping-bag" style="margin-left: 1px;"></i>
                                    <a href="/profile#orders" style="margin-left: 1px;">Order History</a>
                                </li>
                                <li>
                                    <i class="fas fa-heart"></i>
                                    <a href="/profile">Favourites</a>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt" style="margin-left: 3px;"></i>
                                    <a href="/profile#address" style="margin-left: 3px;">Saved Addresses</a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="logout">
                            <a href="/accounts/logout">Logout</a>
                        </div>
                    </div>
                    </li>
                    {% if user|has_group:"website" %}
                        <li>
                            <a href="/dashboard">Dashboard</a>
                        </li>

                    {% endif %}
                    {% if user|has_group:"restaurant" %}
                        <li>
                            <a href="/my/restaurant">My Restaurant</a>
                        </li>

                    {% endif %}

                        {% else %}
                        <li>
                            <a href="/accounts/login">Log In &nbsp &nbsp &nbsp|</a>
                        </li>
                    {% endif %}

                    <li class="bag">
                        <a href="/cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            {% if cart.count > 0 %}
                            {% endif %}
                        </a>
                        <span class="badge badge-notify" style="font-size:10px;">{{cart.count}}</span>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
