<!DOCTYPE html>
<html lang="en">

<head>


    {% load static %}
    {% load carton_tags %}
    {% get_cart as cart %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">

    <!--  my custom css -->
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/food-style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/slider.css' %}">-->
    <title>TBuzz</title>
</head>

<body>

<!---------------------- Session Message for different purpose ---------------------->

{% if messages %}
    <ul class="messages col-md-12">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!---------------------- End of Session Message ---------------------->

<!----------------------start of navbar html ---------------------->

    <nav class="navbar navbar-default navbar-sticky info-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Info Restaurant</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                </ul>
                <div class="col-lg-6 search">
                    <form class="navbar-form navbar-left" method="GET" action="/mysearch/">
                        <div class="form-group">
                            <input type="text" class="form-control search-field" placeholder="Search" name="q">
                        </div>
                        <button type="submit" class="btn btn-default search-btn">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                        <li>
                            <a href="/dashboard">Dashboard</a>
                        </li>
                                      
                        <li>
                            <a href="/accounts/logout">Log Out</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/accounts/login">Log In &nbsp &nbsp &nbsp|</a>
                        </li>
                    {% endif %}
                    <li class="bag">
                        <a href="{% url 'showcart' %}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            {% if cart.count > 0 %}
                            <p>Rs. {{cart.total}}</p>
                            {% endif %}
                        </a>
                        <span class="badge badge-notify" style="font-size:10px;">{{cart.count}}</span>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        