{% extends 'layout.html' %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock %}

{% block extracdn %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'slider.html' %}

<div class="container">
    <h2 style="text-align: center; padding-bottom: 20px; padding-top: 25px; ">Restaurants</h2>
    <div class="col-lg-12">
                
                {% for restaurant in restaurants %}

                    <div class="col-lg-4 ">
                    <div class="col-lg restaurant">
                        <div class="row">
                            <a href="{{restaurant.get_absolute_url}}" class="front-restaurant-img" >
                                <img src="/media/{{restaurant.image}}" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="row res-desc">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{restaurant.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Address:
                                        </td>
                                        <td>
                                            {{restaurant.address.city}},{{restaurant.address.address1}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{{restaurant.get_absolute_url}}" class="btn btn-success pull-right">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
    </div>
</div>
<!-- Food Categories Display -->

    <div class="container">
        <hr class="food-container">
        <h2 style="text-align: center; padding-bottom: 10px;">Food Categories</h2>
        <div class="row">
            <div class="col-lg-12">
                {% for category in categories %}
                <div class="col-lg-2">
                    <div class="col-lg food-icon">

                        <img src="/media/{{category.image}}" alt="Food Category Image">

                    </div>
                    <div class="col-lg desc">
                        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="col-lg-12 parallax">
        <div class="row img-parallax">
            <div class="col-lg-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam unde eaque natus in facilis ipsum sint modi voluptas voluptatem.
                    Eos voluptates maiores ea aliquid quia odio nam rem ullam porro.
                </p>
            </div>
        </div>
    </div>



    <div class="col-lg-12 feedback">
        <div class="row">
            <div class="container">

                <h2>Get Connected</h2>
                <div class="col-lg-5 feedback-form">
                    <form method="POST" action="{% url 'submit_feedback' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control text-field" placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control text-field" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control text-field" rows="3" name="feedback" placeholder="Your Feedback..">


                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-default feedback-btn">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}