
{% if sliders %}
<div class="col-lg-12" style="float: unset;">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide img-slider" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                     
         

               
                    {% for slider in sliders %}
                    {% if sliders.0 == slider %}
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                        <img src="/media/{{slider.image}}" alt="restaurant{{slider.id}}" class="img-responsive">
                        <div class="carousel-caption food-caption">
                            <h2>{{slider.title}}</h2>
                            <p>{{slider.description}}</p>
                            <a href="{{slider.url}}" class="hvr-sweep-to-right">{{slider.btn_description}}</a>
                        </div>
                    </div>
                    
                    {% endfor %}
                 
                </div>


                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

{% endif %}