{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div style="background: #ddd !important; height: 45px;"> 
    <h4 class="container" style="text-align: center; padding-top: 10px"> 
        Your Search Results for: <em>{{query}}</em>
    </h4> 
</div>
<div class="container" style="padding-top: 35px;">
{% if result %}
    <div class="row ">
        {% for r in result %}
        <div class = "col-md-4" >

            <a href="/restaurant/{{r.id}}"/>

                <img src="/media/{{r.image}}" class="restaurant-image img-responsive" alt="food image">
            </a>

            <div class="restaurant-details">
                <h5>Restaurant Name:
                    <a href="/restaurant/{{r.id}}">
                        <strong>{{r.name}}</strong>
                    </a>
                </h5>
                <h5>Address :
                    <strong>{{r.address.city}},{{r.address.address1}}</strong>
                </h5>

            </div>
        </div>
        {% endfor %}

    </div>

{% else %}

    <h3> No items match found! </h3>

{% endif %}
</div>

{% endblock %}

