{% extends 'layout.html' %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/allrestaurant.css' %}">
{% endblock %}

{% block content %}

    <div class="col-lg-12 res-head">
        <div class="row res-head-row">
            <div class="col-lg-5">
                <h1>Our Restaurants</h1>
            </div>
            <div class="col-lg-12 search-bar">
                <form method="GET" action="/mysearch/restaurant">
                    <input type="text" placeholder="Search for a restaurant.." name="q">
                    <button type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;<b>Search Restaurant</b></button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: #fafafa;">
        <div class="row">

            <!--<div class="col-lg-5 filter-card">-->
                <!--<h4>-->
                    <!--<b>Filter By:</b>-->
                <!--</h4>-->
                <!--<div class="checkbox checkbox-inline" style="margin-top: 0;">-->
                    <!--<input type="checkbox" name="checkbox1" id="checkbox1">-->
                    <!--<label for="checkbox1">Alphabet</label>-->
                <!--</div>-->
                <!--<div class="checkbox checkbox-inline">-->
                    <!--<input type="checkbox" name="checkbox2" id="checkbox2">-->
                    <!--<label for="checkbox2">Popularity</label>-->
                <!--</div>-->
                <!--<div class="checkbox checkbox-inline">-->
                    <!--<input type="checkbox" name="checkbox3" id="checkbox3">-->
                    <!--<label for="checkbox3">Most Rated</label>-->
                <!--</div>-->
                <!--<div class="checkbox checkbox-inline">-->
                    <!--<input type="checkbox" name="checkbox4" id="checkbox4">-->
                    <!--<label for="checkbox4">Relevance</label>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="row">

            <div class="col-lg-12 resList-wrapper">
                {% for restaurant in restaurants %}
                <div class="col-lg-4">

                    <div class="col-lg-12 resList-card" style="margin-top:25px;">
                        <a href="{{restaurant.get_absolute_url}}">
                            <div class="col-lg-4 res-image" style="background-image: url('/media/{{restaurant.image}}/');">
                        </div>

                        </a>
                        <div class="col-lg-8 restaurant-details">
                            <h3>{{restaurant.name}}</h3>
                            <p style="font-size: 11px; color: #909090;">
                                {{restaurant.address.city}},
                                {{restaurant.address.address1}} {{restaurant.address.zip_code}}
                                <i class="fas fa-map-marker-alt pull-right" style="font-size: 14px;"></i>
                            </p>
                            <p>{{restaurant.phone}}
                                <i class="fas fa-phone pull-right" style="color: #909090;"></i>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



