{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container">

<div class="row">
<div class="col-md-3"></div>
<form class="col-md-6" method='POST'>
  {% csrf_token %}
  <h3> Form for Restaurant Registration </h3><br>
  <div class="form-group" >
    <label for="name">Restaurant Name</label>
    <input type="text" class="form-control" placeholder="Enter Restaurant Name" name="name">
  </div>
  <div class="form-group">
    <label>Website</label>
    <input type="text" class="form-control" placeholder="Website url" name="website">
  </div>
  <div class="form-group">
  	<label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" placeholder="phone" name="phone">
  </div>
  <div class="form-group">
  	<label>Address</label>
    <input type="text" class="form-control" placeholder="address" name="address">
  </div>
  <div class="form-group">
  	<label>Description</label>
    <textarea class="form-control" rows="4" name="description"></textarea>
    <small id="descriptionhelp" class="form-text text-muted">Write about your restaurant!</small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="col-md-3"></div>
</div>
</div>
{% endblock %}