{% for category in categories %}
<table class="table-striped menu-table" style="width: 100%">
    <thead>
    <tr id="{{category.id}}">
        <td><h2>{{category.name}}</h2></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for food in foods %}

    {% for foo in food.category.all %}
    {% if foo.name == category.name %}
    <tr class="menu-list">
        <td>
            <a href="/food/{{food.id}}" style="color:black;">
                <p aria-describedby="menuDesc">{{food.name}}</p>
                <small id="menuDesc" class="form-text text-muted">
                    {{food.description}}
                </small>
            </a>
        </td>
        <td>
            <p>{{food.price}} &nbsp;
                <a href="/food/{{food.id}}" style="color:black;"><i class="fas fa-plus text-success"></i></a>
            </p>

        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% include 'food/add-cart-modal.html' %}
{% endfor %}
