<div class="col-lg-12 res-info">
    <h2>About Chi Chi Grills</h2>
    <p>
       "{{restaurant.description}}"
    </p>
</div>

 <div class="col-lg-6 res-map">
     <div class="mapouter">
         <div class="gmap_canvas">
             <iframe width="100%" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=chi%20chi%20grills&t=&z=13&ie=UTF8&iwloc=&output=embed"
                     frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
         </div>
     </div>
 </div>
        <div class="col-lg-6 res-contact">
            <h2>Contact Us</h2>
            <table>
                <tbody>
                <tr>
                    <td>
                        <p>
                            <b style="border-bottom: unset; color: #3498db;"><i class="fas fa-location-arrow"></i></b>
                            &nbsp; Located At:
                        </p>
                    </td>
                    <td>
                        <p><b> {{restaurant.address.city}} · {{restaurant.address.address1}}, NP</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <b style="border-bottom: unset; color: #1abc9c;">
                                <i class="fas fa-phone"></i>
                            </b> &nbsp; Ring Us On:
                        </p>
                    </td>
                    <td>
                        <p><b>{{restaurant.phone}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <b style="border-bottom: unset; color: #95a5a6;">
                                <i class="fas fa-clock"></i>
                            </b> &nbsp; Our Opening and Closing Hours:
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>{{about.opening_time}} to {{about.closing_time}}</b>
                            
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
              <div class="col-lg-12 social">
                  <span>Follow Us At:</span>
                  &nbsp;
                  <a href="{{about.facebook_url}}" target="_blank" class="fb-color">
                      <i class="fab fa-facebook"></i>
                  </a>
                                    &nbsp;
                  <a href="{{about.twitter_url}}" target="_blank" class="twitter-color">
                      <i class="fab fa-twitter"></i>
                  </a>
                                    &nbsp;
                  <a href="{{about.instagram_url}}" target="_blank" class="insta-color">
                      <i class="fab fa-instagram"></i>
                  </a>
                                    &nbsp;
                  <a href="{{about.youtube_url}}" target="_blank" class="yt-color">
                      <i class="fab fa-youtube"></i>
                  </a>
              </div>
        </div>