{% extends 'layout.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/tabstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">
{% endblock %}

{% block extrascripts %}
<script>
    $('body').scrollspy({ target: '#navbar-example' });

    (function () {

            [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });

        })();


</script>
{% endblock %}

{% block content %}

{% include 'restaurant/restaurant-header.html' %}
<div class="col-lg-12 res-tab">
    <div class="row">
        <section>
            <div class="tabs tabs-style-line">
             <nav>
                 <ul>
                     <li>
                         <a href="#section-line-1">
                             <span>Menu</span>
                         </a>
                     </li>
                     <li>
                         <a href="#section-line-2">
                             <span>About</span>
                         </a>
                     </li>
                 </ul>
             </nav>
                <div class="content-wrap">
                    <section id="section-line-1">
                        {% include 'restaurant/restaurant-header-category.html' %}
                        <div class="col-lg-9 category">
                            <div class="bs-example" data-example-id="embedded-scrollspy">
                                <div class="scrollspy-example" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                    {% include 'restaurant/restaurant-food.html' %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="section-line-2">
                        {% include 'restaurant/restaurant-about.html' %}
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}