<div class="col-lg-3">
    <h2>
        Categories
    </h2>
    <nav class="navbar navbar-default navbar-static cat-nav" id="navbar-example2">
        <div class="container-fluid cat-container">
            <div class="navbar-header">
                <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy cat-scrollspy">
                <ul class="nav navbar-nav cat-list">
                    {% for category in categories %}
                    <li class="active">
                        <a href="#{{category.id}}">{{category.name}}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
</div>