    <div class="col-lg-12 about-res">
        <div class="row res-img-row" style="background-image: url('/media/{{restaurant.cover_image}}');">
            <div class="container shop-desc">
                <h2>
                    <b>{{restaurant.name}}</b>
                </h2>
                <p>
                    <i class="fas fa-location-arrow"></i> &nbsp; {{restaurant.address.city}} · {{restaurant.address.address1}}, NP</p>

                <table class="res-table">
                    <thead>
                        <tr>
                            <td>
                                delivery hours
                            </td>
                            <td>
                                minimum order
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{about.opening_time}} to {{about.closing_time}}
                            </td>
                            <td>
                                Rs. {{about.minimum_order}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <span>Social Media:</span>
                <a href="{{about.facebook_url}}" target="_blank" class="fb">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="{{about.twitter_url}}" target="_blank" class="twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="{{about.instagram_url}}" target="_blank" class="insta">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="{{about.youtube_url}}" target="_blank" class="yt">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>