<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration | Restcommerce</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">

</head>

<body>

    <div class="col-lg-12">
        <div class="col-lg-5 login-form">
            <h2>
                <b>Create Account</b>
            </h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ forms.username.errors }}
                    <input type="text" class="form-control" id="fname" placeholder="Full Name" name="username">
                </div>
                <div class="form-group">
                    {{ forms.email.errors }}
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    {{forms.password1.errors}}
                    <input type="password" class="form-control" id="pass" placeholder="Password" name="password1">
                </div>
                <div class="form-group">
                    {{forms.password2.errors}}
                    <input type="password" class="form-control" id="repass" placeholder="Re-enter Password" name="password2">
                </div>
                <button type="submit" class="hvr-bounce-to-right login-btn">Login</button>
                <div class="form-group create">
                    <a href="{% url 'login' %}">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>