<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">

</head>

<body>
    <div class="col-lg-12">
        <div class="col-lg-5 login-form">

            <h2><b>Login</b></h2>

            <!-------------------------login form---------------------->

            <form method="POST">
            {% csrf_token %}
                {% if messages %}
                    <ul class="messages col-md-12">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="form-group">
                    {{ forms.email.errors }}
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    {{forms.password.errors}}
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <div class="form-group" style="margin-top: 2rem;">
                    <a href="/accounts/password_reset/">Forgot your password?</a>
                </div>
                <button type="submit" class="hvr-bounce-to-right login-btn">Login</button>
                <div class="form-group create">
                    <a href="{% url 'createuser'  %}">Not a member?</a>
                </div>
            </form>


        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>