{% extends 'dashboard/layout.html' %}
{% block extrastyles %}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock extrastyles %}
{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#customers_table').DataTable();
} );
    
</script>
{% endblock %}

{% block content %}
<div style="background: #ddd !important; height: 45px;"> 
    <h4 class="container" style="text-align: center; padding-top: 10px"> 
        Feedback by Users: 
    </h4> 
</div>
<div class="container" style="padding-top: 35px;">
{% if feedbacks %}
     <table id="customers_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Feedback</th>
            </tr>
        </thead>
        <tbody>
            {% for feed in feedbacks %}
            <tr>
                <td>{{feed.name}}</td>
                <td>{{feed.email}}</td>
                <td>{{feed.feedback}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% else %}

{% endif %}
 <h3> No feedbacks Yet! </h3>
</div>

{% endblock %}
