{% extends 'dashboard/layout.html' %}

{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}



{% block extrascripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" ></script>
<script type="text/javascript">
       $(document).ready(function() {
            $('#dashboard-table').DataTable();
        } );
</script>
{% endblock %}

{% block content %}
{% if orders %}
 <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-orange">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <p>Total Order</p>
                        <h2>
                            {{ orders.count }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-blue">
                            <i class="fas fa-spinner"></i>
                        </div>
                        <p>On Process</p>
                        <h2>
                            {{ order_on_process }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-green">
                            <i class="fas fa-truck-loading"></i>
                        </div>
                        <p>On Delivery</p>
                        <h2>
                            {{ order_on_delivery }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-icon card-red">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p>Delivered</p>
                        <h2>
                            {{ order_delivered }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-responsive card-item" id = "dashboard-table">
                    <thead>
                        <tr>
                            <th>
                                Index
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Ordered Date
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                37
                            </td>
                            <td>
                                {{ order.address }}
                            </td>
                            <td>
                                {{ order.status }}
                            </td>
                            <td>
                                {{ order.ordered_at }}
                            </td>
                            <td>
                                {{ order.delivery_at }}
                            </td>
                            <td>
                                <a href="/order_detail/{{order.id}}" class="btn btn-primary btn-sm">
                                    Details
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% else %}
        <strong>There are no orders!!!!</strong>
    {% endif %}

{% endblock %}

