<!---------------------- Session Message for different purpose ---------------------->

{% if messages %}
    <ul class="messages col-md-12">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!---------------------- End of Session Message ---------------------->

                <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                                    aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">Info Restaurant</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="/dashboard">Dashboard</a>
                                    </li>
                                    <li class="dropdown">
							          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
							          <ul class="dropdown-menu">
							            <li><a href="/dashboard/restaurant/">Restaurants</a></li>
							            <li><a href="/dashboard/food/">Foods</a></li>
							            <li><a href="/dashboard/categories/">Categories</a></li>
                                        <li><a href="/dashboard/slider/">Slider</a></li>

							          </ul>
							        </li>

							        <li>
                                        <a href="/dashboard/view-customers/">Customers</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard/view-feedbacks/">Feedbacks</a>
                                    </li>

                                    <li>
                                        <a href="/">Reports</a>
                                    </li>

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    {% if user.is_authenticated %}
                                    <li>
                                        <a href="/accounts/logout/">Log Out</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="/accounts/login/">Log In</a>
                                    </li>

                                    {% endif %}
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                        <!--/.container-fluid -->
                    </nav>
