{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<h2 style="text-align: center; padding-bottom: 20px;"> Your Shipping Address </h2>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 ">

		<form method='POST' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label>City</label>
				<input type="text" name="city" value="{{address.city}}" class="form-control">
			</div>
			<div class="form-group">
				<label>Country</label>
				<input type="text" name="country" value="{{address.country}}" class="form-control">
			</div>
			<div class="form-group">
				<label>Zip Code</label>
				<input type="text" name="zip_code" value="{{address.zip_code}}" class="form-control">
			</div>
			<div class="form-group">
				<label>Address 1</label>
				<input type="text" name="address1" value="{{address.address1}}" class="form-control">
			</div>
			<div class="form-group">
				<label>Address 2</label>
				<input type="text" name="address2" value="{{address.address2}}" class="form-control">
			</div>
			
			<div class="form-group">
				<button class='btn btn-primary' type='submit'>submit</button>
			</div>
		</form>
			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

{% endblock %}