{% extends 'layout.html' %}


{% block content %}
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}

<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{{ form.media }}


 <div class="container cart">
        <div class="row">
            <div class="col-lg">
                <h1>cart</h1>
            </div>
            <form method='POST' enctype="multipart/form-data">
            <div class="col-lg">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12 cart-details cart-border">
                            <div class="col-lg-4 detail-title">
                                <h4>
                                    <b>Address</b>
                                </h4>
                                <a href="#">Change</a>
                            </div>
                            <div class="col-lg-8 detail-title">

                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" name="city" value="{{address.city}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" name="country" value="{{address.country}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" name="zip_code" value="{{address.zip_code}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input type="text" name="address1" value="{{address.address1}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" name="address2" value="{{address.address2}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Extra Info</label>
                                        <input type="text" name="extra_info" class="form-control">
                                    </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 cart-details cart-border">
                            <div class="col-lg-4">
                                <h4>
                                    <b>Time</b>
                                </h4>
                            </div>
                            <div class="col-lg-8">
                                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="vwt-Radio vwt-RadioGapStyle" name="group1" type="radio" id="time2" checked/>
                                        <label for="time2">Scheduled</label>
                                    </div>
                                    <div class="col-lg-6 detail-title" >
                                        <label>Select Date:</label>
                                        {% csrf_token %}
                                        {{ form.datetime_field }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 cart-details">
                            <div class="col-lg-4 detail-title">
                                <h4>
                                    <b>Summary</b>
                                </h4>
                                <a href="#">Return to Menu</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p style="color: #979797; text-transform: uppercase; padding-left: 18px;">brunch</p>
                                    </div>
                                </div>
                                {% for item in cart.items %}
                                <div class="row">

                                    <div class="col-lg-6">
                                        <span style="color: #03A9F4;">1</span> &nbsp;&nbsp;

                                        <span>
                                            <b>{{ item.product.name }}</b>
                                        </span>
                                        <p style="color: #979797; padding-left: 18px"> Quantity: {{ item.quantity }}</p>
                                    </div>
                                    <div class="col-lg-6" style="text-align: right">
                                        <a href="#" class="remove-product">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        <span>
                                            <b>{{ item.subtotal }}</b>
                                        </span>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div id="sidebar">
                        <h3>
                            Summary
                        </h3>
                        <hr>
                        <ul class="summary-list">
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Subtotal</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>Rs. {{cart.total}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Delivery Charges</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>10%</p>
                                </div>
                            </li>
                            <hr>
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Order Total</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>Rs. {{cart.total}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
				                    <button class='btn btn-primary' type='submit'>CheckOut</button>
			                    </div>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
               </div>
    </div>

{% endblock %}