{% extends 'base.html' %}

{% block content %}
{% load static %}

<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-shopping-cart"></span>
</button>

<div class="dropdown-menu" style="min-height: 320px;">
    <p>My Cart</p>
    <div class="empty">
        <img class="img-responsive" src="/media/extra/download.png" alt="utensils">
            <p>Your cart is empty.</p>
                {% load carton_tags %}
                {% get_cart as cart %}

            <table border="1">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                {% for item in cart.items %}
                    <tr>
                        <td>{{ item.product.name }} </td>
                        <td><input type="text" class="form-control" value="{{ item.quantity }}"> </td>
                        <td>{{ item.subtotal }} </td>
                        <td>
                            <a href="{% url 'removecart' %}?id={{item.product.id}}" class="btn btn-success mybutton"> Remove</a>
                        </td>
                        </tr>
                {% endfor %}

                            Total: {{cart.total}}

            </table>
            <a href="{% url 'checkout_address' %}" class="btn btn-success">Checkout </a>
</div>
</div>

{% endblock %}