{% extends 'layout.html' %}

{% block content %}
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet">
{% endblock extrastyles%}
{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}
{{ form.media }}

<div class="container cart">
        <div class="row">
            <div class="col-lg">
                <h1>cart</h1>
            </div>
            <div class="col-lg">
                <div class="col-lg-7">
                    <table class="product-table table-responsive table-striped">
                        <thead>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <h3>Product Name</h3>
                                </td>
                                <td>
                                    <h3>Qty</h3>
                                </td>
                                <td>
                                    <h3>Price</h3>
                                </td>
                                <td>
                                    <h3>Action</h3>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.items %}
                            <tr>
                                <form method="GET" action="{% url 'editcart' %}">
                                <td style="width: 20%;">
                                    <img src="/media/{{item.product.image}}" alt="soup dumpling">
                                </td>
                                <td>
                                    {{ item.product.name }}
                                </td>
                                <td>

                                    <input type="text" class="form-control cart-quantity" value="{{ item.quantity }}" name="quantity">
                                    <input type="hidden" value="{{item.product.id}}" name="id">
                                </td>
                                <td>
                                    Rs. {{ item.subtotal }}
                                </td>
                                <td>
                                    <a href="/remove/{{item.product.id}}" class="btn btn-danger delete-btn">Remove</a>
                                    <input type="submit" class="btn btn-info delete-btn" value="Edit">
                                </td>
                                </form>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <a href="/restaurants/" class="btn btn-success add-product">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Product
                    </a>
                    <br><br><br><br>
                    <form method='POST' action="" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12 cart-details cart-border">
                                <div class="col-lg-4 detail-title">
                                    <h4>
                                        <b>Address</b>
                                    </h4>
                                    <a href="#">Change</a>
                                </div>
                                <div class="col-lg-8 detail-title">

                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" name="city" value="{{address.city}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input type="text" name="country" value="{{address.country}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            <input type="text" name="zip_code" value="{{address.zip_code}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Address 1</label>
                                            <input type="text" name="address1" value="{{address.address1}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Address 2</label>
                                            <input type="text" name="address2" value="{{address.address2}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" name="phone" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Extra Info</label>
                                            <input type="text" name="extra_info" class="form-control">
                                        </div>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 cart-details cart-border">
                                <div class="col-lg-4">
                                    <h4>
                                        <b>Time</b>
                                    </h4>
                                </div>
                                <div class="col-lg-8">

                                    <div class="row">

                                        <div class="col-lg-6 detail-title" >
                                            <label>Select Date:</label>
                                            {% csrf_token %}
                                            {{ form.date_field}}

                                        </div>
                                        <div class="col-lg-6 detail-title" >
                                            <label>Select Time:</label>
                                            {% csrf_token %}
                                            {{ form.time_field}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="col-lg-5">
                    <div id="sidebar">
                        <h3>
                            Summary
                        </h3>
                        <hr>
                        <ul class="summary-list">
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Subtotal</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>Rs. {{cart.total}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Delivery Charges</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>10%</p>
                                </div>
                            </li>
                            <hr>
                            <li>
                                <div class="col-lg-6 title">
                                    <p>Order Total</p>
                                </div>
                                <div class="col-lg-6 price">
                                    <p>{{cart.total}}</p>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary chout-btn">Checkout</button>
                            </li>
                        </ul>
                    </div>
                </div>
             </form>
            </div>
        </div>
</div>
{% endblock %}
