{% extends 'restaurant-owner/layout.html' %}

{% block content %}

<div class="container">
	<div class="row"> 
		<div class="col-md-4"></div>
		<div class="col-md-4 ">

		<form method='POST' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label>Name</label>
                <input type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label>Description</label>
                <input type="text" class="form-control" name="description">
			</div>
			<div class="form-group">
				<label>Price</label>
                <input type="text" class="form-control" name="price">

			</div>
			<div class="form-group">
				<label>Is Active</label>
                <input type="checkbox" name="is_active">

			</div>

			<div class="form-group">
				<label>Meta Keyword</label>
                <input type="text" class="form-control" name="meta_keywords">

			</div>
			<div class="form-group">
				<label>Meta Description</label>
                <input type="text" class="form-control" name="meta_description">

			</div>

			<div class="form-group">
				<label>Category</label>
				{{form.category}}
			</div>

			<div class="form-group">
				<label>Image</label>
                <input type="file" class="form-control-file" name="image">
			</div>
			<div class="form-group">
				<button class='btn-primary' type='submit'>submit</button>
			</div>
		</form>
			
		</div>
		<div class="col-md-4"></div>
	</div>
</div>


{% endblock %}