{% extends 'restaurant-owner/layout.html' %}

{% block content %}
<h2>{{restaurant.name}} Menu</h2>
<div class="container">
    <a href="/restaurant/dashboard/add/food" class="btn btn-primary">Add Food</a>
    <h4> <p>All Foods </p></h4>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Is Active</th>
        <th>Category </th>
        <th>Restaurant </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for food in menu %}
      <tr>
        <td><p>{{food.name}}</p></td>
        <td><p>{{food.description}}</p></td>
        <td>
          <p>{{food.price}}</p>
        </td>
        <td>
          <p>{{food.is_active}}</p>
        </td>
        <td>
          <p>
            {% for foo in food.category.all %}
              {{ foo.name }}
            {% endfor %}
          </p>
        </td>
        <td>
          <p>{{food.restaurant.name}}</p>
        </td>
        <td><a href="/restaurant/dashboard/edit/food/{{food.id}}">Edit</a> &nbsp;&nbsp;
        <a href="#">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}