.messages{
    z-index: 9999;
    list-style: none;
    text-align: center;
    color: white;
    background-color: orange;
    padding: 5px;
}

  .left-tab {
    background-color: aliceblue;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .tabs-left {
    border: unset;
  }

  .file-input-wrapper {
    width: 200px;
    overflow: hidden;
    position: relative;
  }

  .file-input-wrapper>input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  .file-input-wrapper>.btn-file-input {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #2196F3;
    color: white;

  }

  .file-input-wrapper:hover>.btn-file-input {
    background-color: rgba(33, 149, 243, 0.658);
    cursor: pointer;
  }
  .tabs-left>li.active
  {
    z-index: 1;
  }


  .filter-card
{
    background-color: white;
    margin: 2rem 1.5rem 0 1.5rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 4px;
}
.card
{
    text-align: right;
    margin: 5rem 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
}
.card-orange
{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card-green
{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    background: linear-gradient(60deg,#66bb6a,#43a047);
}
.card-red
{
    box-shadow: 0 4px 20px 0 rgba(158, 157, 157, 0.14), 0 7px 10px -5px rgba(244,67,54,.4);
    background: linear-gradient(60deg,#ef5350,#e53935);
}
.card-blue
{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background: linear-gradient(60deg,#26c6da,#00acc1);
}
.card-icon
{
    float: left;
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -40px;
    margin-right: 15px;
    color: white;
}
.card-header
{
    margin: 0 15px;
    padding: 20px 0;
}
.card-icon i
{
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}
.card-header p
{
    font-size: 18px;
    color: #adadad;
}
.card-item
{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
}
.card-item p
{
    font-size: 16px;
    color: black;
}
.card-margin
{
    margin: 3rem 0;
}
.card-title
{
    border-radius: 3px;
    padding: 15px;
    margin-top: -40px;
    color: white;
    text-align: center;
}
.card-title span
{
    font-size: 20px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    position: relative;
}

