.order-food{
    background-position: center;
    background-size: cover;
}

.order-food::before
{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    left: 30px;
    width: 79.5%;
    height: 30.5%;
    border-radius: 3px;
    background-color: #00000075;
}

.order-info
{
    padding-top: 2rem;
    padding-left: 3rem;
}
.order-info p
{
    font-size: 18px;
}
.order-detail hr
{
    margin: 20px 0 !important;
}
.selection
{
    display: -webkit-box;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 10px;
    margin: 15px 0;
}
/* custom radio button */

.radio-btn
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    width: fit-content;
}

.radio-btn li
{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
}

.radio-btn li input[type=radio]
{
    position: absolute;
    visibility: hidden;
}

.radio-btn li label
{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 0px 0px 20px 45px;
    margin: 11px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radio-btn li:hover label
{
    color: black;
}

.radio-btn li .check
{
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 11px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio-btn li:hover .check
{
    border: 5px solid black;
}

.radio-btn li .check::before
{
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check
{
    border: 3px solid #009688;
}

input[type=radio]:checked ~ .check::before
{
    background: #009688;
}

input[type=radio]:checked ~ label
{
    color: #009688;
}

.signature
{
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
}

.signature p
{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}

.signature .much-heart
{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after
{
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after
{
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a
{
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}

