{% extends 'dashboard/layout.html' %}
{% load static %}
{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/dashboard/order-detail.css' %}">
{% endblock %}



{% block extrascripts %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" ></script>
<script type="text/javascript">

    </script>

{% endblock %}

{% block content%}
{% load static %}

<div class="container">

 <div class="container order-detail">
    <div class="row">

        <div class="col-lg-3 col lg-12 order-info">
            <p>Ordered by:
                    <b>{{order_details.0.order.user.username}}</b>
                </p>
                <p>Phone no.:
                    <b>{{order_details.0.order.phone}}</b>
                </p>
        </div>
         <form method="POST" action="/order_detail/{{order_details.0.order.id}}/">{% csrf_token %}
         <div class="col-lg-12 selection">

                <ul class="radio-btn">
                    {% for status in order_details.0.order.status_verbose %}
                    {% if order_details.0.order.status == status %}
                    <li>

                        <input type="radio" id="{{order_details.0.order.status}}" name="status" value="{{ status }}" checked>
                        <label for="{{order_details.0.order.status}}">
                            {{ order_details.0.order.status }}
                        </label>
                        <div class="check"></div>
                    </li>
                    {% else %}
                    <li>
                        <input type="radio" id="{{status}}" name="status" value="{{ status }}">
                        <label for="{{status}}">{{ status }}</label>
                        <div class="check">
                            <div class="inside"></div>
                         </div>
                        </li>
                        {% endif %}
                     {% endfor %}
                </ul>
                 <button type="submit" class="btn btn-primary" style="margin-left: 2rem; margin-top: 5px;">Update</button>
            </div>
        </form>

             {% for order_detail in order_details %}
               <div class="col-lg-3">
                <div class="card-item card-margin">
                    <div class="card-header">
                        <div class="card-title order-food" style="background-image: url('/media/{{order_detail.food.image}}');">
                            <span>
                                <b>{{ order_detail.quantity }}</b> {{order_detail.food}}</span>
                        </div>
                        <br>
                        <p>with
                            <b>{{ order_detail.extra_info }}</b>
                        </p>
                        <p>from <b>{{ order_detail.food.restaurant.name }}</b></p>
                        <p>to
                            <b>{{order_detail.order.address}}</b>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
     <hr>
    {% include 'order-admin/user-order-history.html' %}
</div>

{% endblock%}



