<div class="row">
            <div class="col-lg-12">
                <h3>
                    <b>Order History</b>
                    <span style="font-size: 18px;">({{request.user.username}})</span>
                </h3>
                <table class="table table-striped table-responsive card-item">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Ordered Date</th>
                            <th>Delivery Date</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>

                            <td>
                                {{order.address}}
                            </td>

                            <td>
                                {{order.ordered_at}}
                            </td>
                            <td>
                                {{order.delivery_at}}
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm">
                                    Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>