{% extends 'dashboard/layout.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 ">

		<form method='POST' enctype="multipart/form-data">
			{% csrf_token %}

			<div class="form-group">
				<label>Title</label>
				{{form.title}}
			</div>

			<div class="form-group">
				<label>Description</label>
				{{form.description}}
			</div>

			<div class="form-group">
				<label>Picture</label>
				{{form.image}}
			</div>
			<div class="form-group">
				<label>Button Description</label>
				{{form.btn_description}}
			</div>


			

			<div class="form-group">
				<button class='btn-primary' type='submit'>submit</button>
			</div>
		</form>

		</div>
		<div class="col-md-4"></div>
	</div>
</div>

{% endblock %}
