{% extends 'dashboard/layout.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'add_slider' %}" class="btn btn-primary">Add Slider</a>
    <h4> <p>All Slider Images </p></h4>
<table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for slider in sliders %}
      <tr>
        <td><p><img src="/media/{{slider.image}}" style="max-height: 100px;"></p></td>
        <td><p>{{slider.title}}</p></td>
        <td><p>{{slider.description}}</p></td>
        <td><p>{{slider.url}}</p></td>
        <td><a href="/dashboard/slider/edit/{{slider.id}}">Edit</a> &nbsp;&nbsp;
        <a href="/dashboard/slider/del/{{slider.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}
