{% extends 'layout.html' %}


{% block content %}
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
{% block extrastyles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css
" rel="stylesheet">

<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
{% endblock extrastyles%}
{% block extrascripts %}
<script src="https://momentjs.com/downloads/moment.js"></script>
<script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock extrascripts %}
{{ form.media }}


 <div class="container cart">
        <div class="row">
            <div class="col-lg">
                <h1>cart</h1>
            </div>
            <form method='POST' action="" enctype="multipart/form-data">
            <div class="col-lg">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12 cart-details cart-border">
                            <div class="col-lg-4 detail-title">
                                <h4>
                                    <b>Address</b>
                                </h4>
                                <a href="#">Change</a>
                            </div>
                            <div class="col-lg-8 detail-title">

                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" name="city" value="{{address.city}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" name="country" value="{{address.country}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="text" name="zip_code" value="{{address.zip_code}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input type="text" name="address1" value="{{address.address1}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" name="address2" value="{{address.address2}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Extra Info</label>
                                        <input type="text" name="extra_info" class="form-control">
                                    </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 cart-details cart-border">
                            <div class="col-lg-4">
                                <h4>
                                    <b>Time</b>
                                </h4>
                            </div>
                            <div class="col-lg-8">
                                
                                <div class="row">
                                   
                                    <div class="col-lg-6 detail-title" >
                                        <label>Select Date:</label>
                                        {% csrf_token %}
                                        {{ form.datetime_field}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 cart-details">
                            <div class="col-lg-4 detail-title">
                                <h4>
                                    <b>Summary</b>
                                </h4>
                                <a href="#">Return to Menu</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p style="color: #979797; text-transform: uppercase; padding-left: 18px;">brunch</p>
                                    </div>
                                </div>
                                {% for item in cart.items %}
                                <div class="row">

                                    <div class="col-lg-6">
                                        <span style="color: #03A9F4;">1</span> &nbsp;&nbsp;

                                        <span>
                                            <b>{{ item.product.name }}</b>
                                        </span>
                                        <p style="color: #979797; padding-left: 18px"> Quantity: {{ item.quantity }}</p>
                                    </div>
                                    <div class="col-lg-6" style="text-align: right">
                                        <a href="#" class="remove-product">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        <span>
                                            <b>{{ item.subtotal }}</b>
                                        </span>
                                    </div>

                                </div>
                                {% endfor %}
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-lg btn-primary">Chekout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        </div>
    </div>

 
{% endblock %}
