{% extends 'layout.html' %}

{% block content %}
{% load static %}


    <h1>Your payment was sucessful </h1>

<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-center"><strong>Item Price</strong></td>
                                    <td class="text-center"><strong>Item Quantity</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{item.product.name}}</td>
                                    <td class="text-center">${{item.product.price}}</td>
                                    <td class="text-center">{{item.quantity}}</td>
                                    <td class="text-right">${{item.subtotal}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Your shipping address is {{country}}, {{city}}, {{address1}}, {{address2}}</h3>

<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>


{% endblock %}