{% extends 'layout.html' %}


{% block content %}
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
<div align="center">
<h1>Pay using PayPal </h1>



    <div class="card" style="width:50rem;">
        <h3>
            Summary
        </h3>
        <hr>
        <ul class="summary-list">
            <li>
                <div class="col-lg-6 title">
                    <p>Subtotal</p>
                </div>
                <div class="col-lg-6 price">
                    <p>Rs. {{cart.total}}</p>
                </div>
            </li>
            <li>
                <div class="col-lg-6 title">
                    <p>Delivery Charges</p>
                </div>
                <div class="col-lg-6 price">
                    <p>10%</p>
                </div>
            </li>
            <hr>
            <li>
                <div class="col-lg-6 title">
                    <p>Order Total</p>
                </div>
                <div class="col-lg-6 price">
                    <p>Rs. {{cart.total}}</p>
                </div>
            </li>
            </ul>

                <form method='POST' action="https://www.sandbox.paypal.com/cgi-bin/webscr" enctype="multipart/form-data">
                {{paypal_form}}


                <div class="form-group">
                    <input src="{% static 'img/paypal.png' %}" name="submit" alt="Buy it Now" type="image" border="0">
                </div>
                </form>



    </div>



</div>
{% endblock %}
