{% extends 'dashboard/layout.html' %}

{% load static %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.vertical-tabs.css' %}">
{% endblock %}


{% block content %}
<div class="container">

    <div class="row" style="min-height:600px;">
      <div class="col-sm-12">
        <div class="col-xs-3 left-tab">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <h3>Sections</h3>
          <ul class="nav nav-tabs tabs-left">
            <li class="active">
              <a href="#product" data-toggle="tab">Add Restaurant</a>
            </li>

          </ul>
        </div>

        <div class="col-xs-9" style="border: 1px solid #ddd;">
          <div class="tab-content">
              <div class="tab-pane active" id="product">
                {% include 'restaurant-admin/restaurant-details.html' %}
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
    </div>

    <div class="clearfix"></div>

  </div>


{% endblock %}