
<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" value="{{restaurant.name}}">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" value="{{restaurant.description}}">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" value="{{restaurant.email}}">
  </div>

  <div class="form-group">
    <label>Website</label>
    <input type="text" class="form-control" name="website" value="{{restaurant.website}}">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" value="{{restaurant.phone}}">
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" name="city" value="{{address.city}}">
  </div>

  <div class="form-group">
    <label>Country</label>
    <input type="text" class="form-control" name="country" value="{{address.country}}">
  </div>

  <div class="form-group">
    <label>Zip Code</label>
    <input type="text" class="form-control" name="zip_code" value="{{address.zip_code}}">
  </div>

  <div class="form-group">
    <label>Address line 1</label>
    <input type="text" class="form-control" name="address1" value="{{address.address1}}">
  </div>
  <div class="form-group">
    <label>Address line 2</label>
    <input type="text" class="form-control" name="address2" value="{{address.address2}}">
  </div>

  <div class="form-group">
    <label>Meta Keywords</label>
    <input type="text" class="form-control" name="meta_keywords" value="{{restaurant.meta_keywords}}">
  </div>
  <div class="form-group">
    <label>Meta Description</label>
    <input type="text" class="form-control" name="meta_description" value="{{restaurant.meta_description}}">
  </div>

  <div class="form-group">
    <label>Picture</label>
    <input type="file" class="form-control" name="image" value="{{restaurant.image}}">
  </div>

  <div class="form-group">
    <label>Cover Picture</label>
    <input type="file" class="form-control" name="cover_image" value="{{restaurant.cover_image}}">
  </div>

  <div class="form-group">
    <button class='btn-primary' type='submit'>submit</button>
  </div>
</form>
