{% extends 'dashboard/layout.html' %}

{% block content %}

<div class="container">
    <a href="/dashboard/add/restaurant" class="btn btn-primary">Add Restaurant</a>
    <a href="/review/register/restaurant" class="btn btn-info">Review Restaurants requests</a>
    <h4> <p> All Restaurants </p></h4>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>contact</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
          {% for restaurant in restaurants %}
          <tr>
                <td><p>{{restaurant.name}}</p></td>
                <td><p>{{restaurant.address.city}},{{restaurant.address.address1}}</p></td>
                <td>
                  <p>{{restaurant.phone}}</p>
                </td>
                <td><a href="/dashboard/edit/restaurant/{{restaurant.id}}/">Edit</a> &nbsp;&nbsp;
                <a href="/dashboard/del/restaurant/{{restaurant.id}}/">Delete</a></td>
          </tr>
          {% endfor %}

        </tbody>
  </table>

</div>

{% endblock %}
