{% extends 'dashboard/layout.html' %}

{% block content %}
<div class="container">
    <h4> <p>All restaurants registration requests! </p></h4>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Email</th>
        <th>Address</th>
        <th>Request Date </th>
        <th>Description </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for restaurant in restaurants %}
      <tr>
        <td><p>{{restaurant.name}}</p></td>
        <td><p>{{restaurant.website}}</p></td>
        <td><p>{{restaurant.email}}</p></td>
        <td><p>{{restaurant.address}}</p></td>
        <td><p>{{restaurant.created_at}}</p></td>
        <td><p>{{restaurant.description}}</p></td>
        <td><a href="/approve/register/restaurant/{{restaurant.id}}/">Approve</a> &nbsp;&nbsp;
        <a href="/reject/register/restaurant/{{restaurant.id}}/">Reject</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}