{% extends 'dashboard/layout.html' %}

{% block content %}
<div class="container">
    <a href="/dashboard/add/cat" class="btn btn-primary">Add Category</a>
    <h4> <p>All Addresses </p></h4>
<table class="table">
    <thead>
      <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Parent</th>
          <th>Is Active</th>
          <th> Is Featured</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
          <td><p><img src="/media/{{category.image}}" style="max-height: 100px;"></p></td>
          <td><p>{{category.name}}</p></td>
          <td><p>{{category.description}}</p></td>
          <td><p>{{category.parent}}</p></td>
          <td><p>{{category.is_active}}</p></td>
          <td><p>{{category.is_featured}}</p></td>

          <td><a href="/dashboard/edit/cat/{{category.id}}">Edit</a> &nbsp;&nbsp;
              <a href="/dashboard/del/cat/{{category.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
