{% extends 'dashboard/layout.html' %}
{% load static %}
{% block extrastyles %}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock extrastyles %}
{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#customers_table').DataTable();
} );
    
</script>
{% endblock %}

{% block content %}
<div style="background: #ddd !important; height: 45px;"> 
    <h4 class="container" style="text-align: center; padding-top: 10px"> 
        List of Customers: 
    </h4> 
</div>
<div class="container" style="padding-top: 35px;">
    {% if customers %}
    <table id="customers_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.username}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}

    <h3> No Customers Yet! </h3>

{% endif %}
</div>

{% endblock %}
